@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

/* Font Scalability */
html {
  @apply scroll-smooth overflow-x-hidden;
  font-size: 1.1vw;
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 1.5625vw;
  }
}

/* Mobile */
@media (max-width: 390px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  @apply transition-all duration-400 ease-out overflow-x-hidden;
  background-color: var(--color-bg);
}

/* =======================
   THEME VARIABLES
========================= */
@theme {
  /* Theme Colors  */
  --color-bg: #eeebe5;
  --color-primary: #5700ff;
  --color-secondary: #f7f6f3;
  --color-dark: #1a1a1a;
  --color-grey: #4d4d4d;
  --color-border: #e1dbd1;
  --color-gray: #333333;
  --color-primary-hover: #4a0bc5;
  --color-light-grey: #808080;

  /* Breakpoints */
  --breakpoint-xs: 390px;
  --breakpoint-lg: 1024px;

  /* Font Family */
  --font-sans: "Manrope", sans-serif;
}

/* =======================
   CUSTOM UTILITIES
========================= */
@layer utilities {
  .container {
    @apply px-20 w-full max-w-full max-xs:px-4;
  }

  .container-left {
    @apply pl-20;
  }

  .transition {
    @apply transition-all duration-400 ease-out;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex {
    @apply flex items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .sec-padded {
    @apply py-25;
  }

  .top-padded {
    @apply pt-25;
  }

  .bottom-padded {
    @apply pb-25;
  }

  header .active {
    @apply text-primary;
  }
}

/* =======================
   SWIPER STYLES
========================= */
/* Swiper Pagination Styles */
.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #fbfaf9 !important;
  border-radius: 0.5rem !important;
  border: 0.063rem solid #e1dbd1 !important;
  width: 2.875rem !important;
  height: 2.875rem !important;
  opacity: 1 !important;
  pointer-events: all !important;
  cursor: pointer !important;
  top: -6rem !important;
  transition: all 0.4s ease-out !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transition: all 0.4s ease-out !important;
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.swiper-button-next:hover svg path,
.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  fill: var(--color-white) !important;
}

.swiper-navigation-icon {
  width: 1rem !important;
  height: 1rem !important;
  fill: var(--color-gray) !important;
}

.swiper-navigation-icon path {
  fill: var(--color-gray);
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  right: calc(2.875rem + 1rem) !important;
  left: auto !important;
}

/* Mobile Responsiveness  */
@media (max-width: 390px) {
  .container {
    @apply px-4;
  }

  .sec-padded {
    @apply py-15;
  }

  .top-padded {
    @apply pt-15;
  }

  .bottom-padded {
    @apply pb-15;
  }

  .container-left {
    @apply pl-4 pr-4;
  }
}
